/* ===== YOUR CSS GOES HERE ===== */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
 

  body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: auto;
    font-family: 'Mulish', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
  

.questionContainer {
    background-color: #607d8b;
    color: white;
    font-size: large;
    font-family:'Mulish', sans-serif;
    height: 300px;
    width: 500px;
    text-align: center;
    padding: 25px;
    margin: auto;
    border-radius: 8px;
    margin-top: 100px;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
  }

  .questionContainer .question {
    min-height: 50px;
    background-color: whitesmoke;
    border-radius: 8px;
    color: #607d8b;
    padding: 15px;
    float: center;
    width: 100%;
    font-size: 25px;
  }

  header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: static;
  height: 80px;
  width: 100%;
  background-color: white;
  z-index: 5;
  box-shadow: 0 2px 5px 0 rgb(3 6 26 / 35%);
  color: #333333;
  }

nav a {
text-decoration: none;
color: green;
font-size: 2.5em;
font-style: bold;
}


