/* ===== YOUR CSS GOES HERE ===== */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
 

  body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    font-family: 'Mulish', sans-serif;
    height: 400px;
    width: 600px;
    background-color: white;
    margin: 30px auto;
    border-radius: 8px;
    padding: 25px;
  }

  * {
    box-sizing: border-box;
  }

  nav {
    background-color:green;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
    
  }

  .main-nav > li > a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    padding-bottom: 0.15em;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
 

 #questioncontainer {
    display: inline-block;
    background-color: #607d8b;
    width: 46%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin: 10px;
    color: white;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
  }

